@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');
// font-family: 'Ubuntu', sans-serif;

$ti: #333333;
$p2: rgb(4,120,87);

.container {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 3rem 4rem;

     > h1 {
        padding: 1rem ;
        text-decoration: underline dotted;
        color: $p2;
        text-align: center;
     }
}

.options{
    padding: 2rem;
    letter-spacing: 1.2px;
    text-decoration: none;
    font-weight: 400;

    > a {
        text-decoration: none;
        color: $ti;
    }
}

.section {
    font-family: 'Inter', sans-serif;
    padding: 10px;
    

    > h1 {
        padding: 1rem ;
        text-decoration: underline dotted;
        color: $p2;
        text-align: center;
    }

    > form {
        align-items: center;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;

        > input {
            width: 100%;
            padding: 6px 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            box-sizing: border-box;
            display: block;
        }

        > textarea {
            width: 100%;
            padding: 6px 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            box-sizing: border-box;
            display: block;
            resize: none;
        }

        > button {
            background: #f1356d;
            color: #fff;
            border: 0;
            padding: 8px;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}

.names {
    background-color: #1a1b26;
    color: whitesmoke;
    border: 2px solid #333333;
    border-radius: 8px;
    margin: 20px 10px;
    padding: 1rem ;
    padding-bottom: 30px;
    letter-spacing: 0.7px;

    > h3 {
        padding: 1rem ;
        color: #ff9e64;

        > span {
            color: #7aa2f7;
        }

        > span1 {
            color: #b4f9f8;
        }
    }

   

    > p {
        padding: 0.5rem 1rem;
        color: #ff9e64;

        > span {
            color: #7aa2f7;
        }

        > span1 {
            color: #b4f9f8;
        }
    }

    > button {
        float: right;
        padding: 2px 2px;
        background-color: transparent;
        border: none;
        color: white;

        > svg {
            font-size: 18px;

            &:hover {
                cursor: pointer;
                color: #c9c8c8;
            }
        }
        
        
    }
}